.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll;
}

.contact h2 {
  text-align: center;
}

.contact h3 {
  padding-left: 10px 
}

.contact a {
  text-decoration: none;
  text-align: left;
  padding-left: 10px;
}