.equipo {
  overflow-y: scroll;
  margin-bottom: 20px;
}

.equipo h2 {
  text-align: center;
  margin-bottom: 10px;
}


.equipo ul {
  list-style: none;
  margin: 0 10px;
  width: calc(99% - 22px);
  max-width: 400px;
  padding: 0;
  border-left: 4px solid var(--second-bg-color);
  border-right: 4px solid var(--second-bg-color);
}

.equipo li:nth-child(odd) {
  background-color: var(--second-bg-color);
}

.equipo li {
  padding: 8px 0;
  display: flex;
  align-items: flex-start;
}