:root {
  --main-bg-color: #1a1a1a;
  --second-bg-color: #242424;
  --white-1: #e3e3e4;
  --blue-1: #3a82e1;
  --bg-green-check: #2f4d2f;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: white;
  overflow: hidden;
}

button, a {
  outline: none;
  text-decoration: none;
}
